# Rename virtual interfaces to OPX equivalents
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s8", NAME="e101-001-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s9", NAME="e101-002-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s10", NAME="e101-003-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s11", NAME="e101-004-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s12", NAME="e101-005-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s13", NAME="e101-006-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s14", NAME="e101-007-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s15", NAME="e101-008-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s16", NAME="e101-009-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s17", NAME="e101-010-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s18", NAME="e101-011-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s19", NAME="e101-012-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s20", NAME="e101-013-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s21", NAME="e101-014-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s22", NAME="e101-015-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s23", NAME="e101-016-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s24", NAME="e101-017-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s25", NAME="e101-018-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s26", NAME="e101-019-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s27", NAME="e101-020-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s28", NAME="e101-021-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s29", NAME="e101-022-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s30", NAME="e101-023-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s31", NAME="e101-024-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s32", NAME="e101-025-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s33", NAME="e101-026-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s34", NAME="e101-027-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s35", NAME="e101-028-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s36", NAME="e101-029-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s37", NAME="e101-030-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s38", NAME="e101-031-0"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="enp0s39", NAME="e101-032-0"

